<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DailyJournalBlogPost</title>

    <link rel="stylesheet" href="css/Home.css">



</head>

<body>
    <div class="nav-bar">
        <div id="logo">
            <li><a href="#">Daily Journal</a></li>
        </div>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About-Us</a></li>
        <li><a href="/contact">Contact</a></li>
    </div>