<%- include("Partials/Header"); -%>


    <h1>Compose</h1>
    <form action="/publish" method="POST" class="form">
        <div>
            <label for="">Title</label>
            <input type="text " name="POSTTITLE" required>
            <label for="">Post</label>
            <textarea name="POSTBODY" id="" cols="80" rows="10"></textarea>
            <button type="submit ">Publish</button>
        </div>
    </form>

    </body>

    </html>